@media screen and (max-width: 1200px) {
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .admin_sign_portal .sign_container {
    flex-direction: column-reverse;
    flex: 0;
  }

  .auth_detail {
    display: none;
  }

  .auth_detail_image {
    display: none;
  }
}