* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins-Ex-Bold';
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  line-height: 26px;
  font-family: 'Poppins';
}

img,
video,
iframe {
  max-width: 100%;
}

input,
.textinput,
textarea {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #00000029;
  border-radius: 6px;
  padding: 12px 15px;
  width: 100%;
  font-size: 14px;
  font-family: "Poppins";
  line-height: 15px;
  color: #000000;
}

.btn {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 21px;
  min-width: 107px;
}

input::placeholder,
.textinput::placeholder,
textarea::placeholder {
  color: #a4a9bc;
  opacity: 0.6;
}

input:focus,
.textinput:focus,
textarea:focus {
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: inherit;
}

.btn-primary {
  background-color: #764af3;
  border-color: #764af3;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:disabled {
  background-color: #a98ff1;
  border-color: #a98ff1;
}

/* Sign In Css */
.admin_singin_portal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.admin_singin_portal .signin_container {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.singin_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px;
}

.form_wrapper {
  max-width: 450px;
  width: 100%;
}

.form_wrapper .form-group {
  margin-bottom: 30px;
}

.form_wrapper .form_header {
  margin-bottom: 30px;
  text-align: center;
}

.form_wrapper .form_header .form_title {
  font-family: 'Poppins-Bold';
  font-size: 22px;
  color: #000000;
  margin-bottom: 8px;
}

.form_wrapper .form_header .form_sub_title {
  font-size: 14px;
  color: #a1a5b7;
}

.singin_link {
  font-size: 14px;
  color: #a4a9bc;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #000000;
  margin-bottom: 5px;
}

.singin_link:hover {
  color: #a4a9bc;
}

.singin_link img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.form_divider {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 30px 0 35px;
}

.singin_wrapper .btn-submit {
  font-size: 14px;
  font-family: ;
}

.form_divider span {
  font-size: 14px;
  padding: 0 15px;
  background-color: #FFFFFF;
  color: #a4a9bc;
  margin-bottom: 0;
}

.form_divider ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #a4a9bc;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: -1;
  margin-top: 1px;
  opacity: 0.3;
}

.forgot-pass-link {
  font-size: 14px;
  color: #764af3;
  margin-top: 10px;
  text-decoration: none;
  text-align: right;
  display: block;
  margin-bottom: 15px;
}

.sign_in_qr{
  font-size: 14px;
  display: block;
  text-align: center;
  color: #764af3;
}

.to_be_member_link {
  font-size: 14px;
  color: #a4a9bc;
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.to_be_member_link a {
  color: #764af3;
  text-decoration: none;
}

.signin_image_container {
  background-image: url(../images/auth-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about_company_detail {
  text-align: center;

}

.auth_detail_image {
  margin: 50px 0;
}

.auth_detail_image img {
  max-width: 60%;
}

.auth_detail {
  max-width: 50%;
  margin: 0 auto;
}

.auth_detail h4 {
  font-size: 28px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.qr_modal .qr_block>*{
  min-width: 260px;
}

.modal-header{
  font-family: "poppins-bold";
}
@media screen and (max-width: 1199px) {
  .auth_detail h4 {
    font-size: 24px;
  }
}

.auth_detail p {
  font-family: "Poppins-Light";
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 0;
  opacity: 0.8;
}